* {
    -customnormal1: #000000;
    -customnormal2: #989898;
    -customnormal3: #ffffff;
    -customspecial1: #920800;
    -customspecial2: #d60001;
    -customspecial3: #f60003;
    -customkeyword1: #ff006d;
    -customparameters1: #eee306;
}

.root {
    -fx-font-family: 'Open Sans';
    -fx-background-color: -customnormal1;
}

.button, .toggle-button{
    -fx-background-color: -customspecial1;
    -fx-text-fill: -customnormal3;
    -fx-background-radius: 0px;
    -fx-font-size: 16.0;
    -fx-border-width: 0px;
}

.button:hover, .toggle-button:selected {
    -fx-background-color: -customspecial2;
}

#welcome {
    -fx-text-fill: -customspecial3;
    -fx-font-size: 24.0;
}

#page-title {
    -fx-text-fill: -customspecial2;
    -fx-font-size: 22.0;
}

.label {
    -fx-text-fill: -customnormal3;
    -fx-font-size: 15.0;
}

#text{
    -fx-text-fill: -customnormal3;
    -fx-font-size: 15.0;
}

#textFieldLabel {
    -fx-text-fill: -customnormal3;
    -fx-font-size: 16.0;
}

.text-field {
    -fx-prompt-text-fill: -customnormal3;
    -fx-text-fill: -customnormal1;
    -fx-border-color: -customspecial3;
    -fx-background-radius: 0px;
    -fx-font-size: 16.0;
}

.hyperlink{
    -fx-text-fill: -customspecial3;
    -fx-font-size: 16.0;
}

.check-box {
    -fx-text-fill: -customspecial3;
    -fx-font-size: 16.0;
}
.box {
    -fx-background-color: -customspecial3;
    -fx-background-radius: 0px;
}

.context-menu {
    -fx-background-color: -customspecial2;
}
.menu-item {
    -fx-background-color: -customspecial2;
    -fx-text-fill: black;
    -fx-background-radius: 0px;
    -fx-font-size: 14.0;
}
.menu-item:focused {
    -fx-background-color: -customspecial3;
}

.menu-item:hover{
    -fx-text-fill: -customnormal1;
    -fx-background-color: -customspecial3;
}

.menu {
    -fx-background-color: -customspecial1;
    -fx-background-radius: 0px;
    -fx-font-size: 14.0;
}

.menu:hover{
    -fx-text-fill: -customnormal1;
    -fx-background-color: -customspecial3;
}

.menu-bar {
    -fx-background-color: -customnormal1;
    -fx-padding: 0;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -customspecial1;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -customnormal1;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-width: 1px;
    -fx-border-color: -customnormal2;
    -fx-text-fill: -customnormal1;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -customnormal3;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, -customnormal3;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0px;
}

.table-row-cell:selected {
    -fx-background-color: -customspecial3;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.scroll-pane {
    -fx-padding: 10;
    -fx-background-color: -customnormal1;
}

#helpText {
    -fx-background-color: -customnormal1;
    -fx-text-fill: -customnormal3;
    -fx-font-size: 11pt;
}

.styled-text-area {
    -fx-background-color: -customnormal1;
}

.lineno {
    -fx-background-color: -customnormal1;
}

.styled-text-area .text {
    -fx-fill: -customnormal3;
}

.styled-text-area .keywords {
    -fx-text-fill: -customkeyword1;
    -fx-font-weight: bold;
}

.styled-text-area .backslash_keywords {
    -fx-fill: -customkeyword1;
    -fx-font-weight: bold;
}

.styled-text-area.styled-text-area .comment {
    -fx-fill: -customspecial2;
}

.styled-text-area .parameter  {
    -fx-fill: -customparameters1;
}

#drawingCanvas{
    -fx-background-color: -customnormal1;
}

.colorPicker {
    -fx-color-label-visible: false;
    -fx-corner-radius: 90px;
}

.colorPicker:expanded {
    -fx-background-color: -customspecial2;
}

#commitContentText{
    -fx-background-color: -customnormal1;
    -fx-border-color: -customnormal3;
    -fx-border-width: 1px;
    -fx-padding: 10;
}